/misc
.DS_Store
/.idea
/champ/personal.py
/champ/databaseCreation.py
/champ/__pycache__
/champ/static/data/exercises_raw.csv
/champ/static/data/.Rhistory
/champ/templates/config_e.html
/champ/static/css/experienced.css
